<section id="blog-container" class="large-9 columns"></section>
<aside role="sidebar" class="large-3 columns">
	<div class="module" id="module-search">
		<header>
			<h4>Search <small>The Journal</small></h4>
		</header>
		<div class="content"></div>
	</div>
	<div class="module"id="module-archives">
		<header>
			<h4>Archives</h4>
		</header>
		<div class="content"></div>
	</div>
	<div class="module" id="module-categories">
		<header>
			<h4>Categories</h4>
		</header>
		<div class="content"></div>
	</div>
</aside>