@import "../bower_components/foundation/scss/normalize",
"../bower_components/foundation/scss/foundation",
"compass",
"icon/*.png";

@include all-icon-sprites;

html {
	background:image-url('body_bg.jpg');
}

header[role="main-header"] {
	a {
		@include replace-text('logo.png');
		display:block;
		height: image-height('logo.png');
	}

	span {
		font-family: 'Clicker Script', cursive;
	}
}

nav[role="main-nav"] {
	background: image-url('border.png') top left repeat-x, image-url('border.png') bottom left repeat-x;
	padding: 5px 0;
	margin-bottom: 20px;
	
	.inline-list {
		margin-bottom: 0px;
	}

	.icon-facebook {
		height: icon-sprite-height(facebook);
		width: icon-sprite-width(facebook);
	}
	.icon-twitter {
		height: icon-sprite-height(twitter);
		width: icon-sprite-width(twitter);
	}
	.icon-instagram {
		height: icon-sprite-height(instagram);
		width: icon-sprite-width(instagram); 
	}

	.social {
		&:hover .social-icon {
			@include opacity(0.5);
		}

		.social-icon:hover {
			@include opacity(1);
		}
	}

	.icon-instagram, .icon-twitter, .icon-facebook {
		display:inline-block;
		@include hide-text();
	}
}

main {
	.main-content {
		margin-bottom:10px;
	}

	summary::-webkit-details-marker {
		display:none;
	}

	details {
		margin-bottom: 20px;
	}

	.page-content {
		h3 {
			background: image-url('border.png') top left repeat-x, image-url('border.png') bottom left repeat-x;
			padding:$header-top-margin 0 $header-bottom-margin 0;
			margin: 0px;
		}
	}
}

#home {
	.row:first-child {
		margin-bottom: 10px;
	} 
	img {
		border:4px solid #f5ebe2;
		@include single-box-shadow(#999, 0px, 0px, 10px);
	}
}	

#blog-container {
	background: image-url('border.png') repeat-x top left, image-url('border.png') repeat-x top left;
	
	$border: 1px solid #000;
	border-left: $border;
	border-right: $border;
}

footer 	{
	background: image-url('footer-bg.png') no-repeat top;
	padding-top:15px;

	.icon-sewing_machine {
		height: icon-sprite-height(sewing_machine);
		width: icon-sprite-width(sewing_machine);
		display:inline-block;
	}

	a {
		color: $anchor-font-color-hover;
	}
}