@import "../bower_components/foundation/scss/normalize",
"../bower_components/foundation/scss/foundation",
"compass",
"icon/*.png";

@include all-icon-sprites;

html {
	background:image-url('body_bg.jpg');
}

header {
	a {
		@include replace-text('logo.png');
		display:block;
		height: image-height('logo.png');
	}

	span {
		font-family: 'Clicker Script', cursive;
	}
}
nav {
	.icon-facebook {
		height: icon-sprite-height(facebook);
		width: icon-sprite-width(facebook);
	}
	.icon-twitter {
		height: icon-sprite-height(twitter);
		width: icon-sprite-width(twitter);
	}
	.icon-instagram {
		height: icon-sprite-height(instagram);
		width: icon-sprite-width(instagram); 
	}

	.icon-instagram, .icon-twitter, .icon-facebook {
		a {
			display:block;
			text-indent: -9999998px;
		}
	}
}
main {}
#home {
	img {
		border:4px solid #f5ebe2;
		@include single-box-shadow(#999, 0px, 0px, 10px);
	}
}
footer 	{
	background: image-url('footer-bg.png') no-repeat top;
	padding-top:15px;

	.icon-sewing_machine {
		height: icon-sprite-height(sewing_machine);
		width: icon-sprite-width(sewing_machine);
		display:inline-block;
	}

	a {
		color: $anchor-font-color-hover;
	}
}